name: Verify build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  linux:
    name: Build on Linux
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly # nightly is required for fmt
          components: rustfmt, clippy

      - name: Check
        run: cargo check

      - name: Format
        run: |
          cargo fmt --all -- --check
          cargo clippy --workspace --bins -- -D warnings

      - name: Build Debug
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Build Release
        run: cargo build --verbose --release

      - name: Run `ark-cli watch` test
        run: ./integration/ark-cli-watch.sh

      - name: Install JDK
        uses: actions/setup-java@v4.2.1
        with:
          distribution: "temurin"
          java-version: "22"

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Java tests
        run: gradle test
        working-directory: ./java

  windows:
    name: Test on Windows
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --verbose --release

      - name: Run tests
        run: cargo test --workspace --verbose

      - name: Run `ark-cli watch` test
        run: ./integration/ark-cli-watch.sh

      - name: Install JDK
        uses: actions/setup-java@v4.2.1
        with:
          distribution: "temurin"
          java-version: "22"

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Java tests
        run: gradle test
        working-directory: ./java

  mac-intel:
    name: Test on macOS Intel
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --verbose --release

      - name: Run tests
        run: cargo test --workspace --verbose

      - name: Run `ark-cli watch` test
        run: ./integration/ark-cli-watch.sh

      - name: Install JDK
        uses: actions/setup-java@v4.2.1
        with:
          distribution: "temurin"
          java-version: "22"

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Java tests
        run: gradle test
        working-directory: ./java
