name: Verify build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  linux:
    name: Build on Linux
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Check
        run: cargo check

      - name: Format
        run: |
          cargo fmt --all -- --check
          cargo clippy --workspace --bins -- -D warnings

      - name: Build Debug
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

  windows:
    name: Test on Windows
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Run tests
        run: cargo test --workspace --verbose

  mac-intel:
    name: Test on macOS Intel
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Run tests
        run: cargo test --workspace --verbose
